
/*
phrase-chart {
    background-color: #9acfea;
}


motion-chart {
    background-color: #2aabd2;
}


fencing-game-vis{
    background-color: #c9e2b3;
}
*/


tactic-flow-chart{
    background-color: #afd9ee;
}