<!--
    players view
    v2
    2018/06/25
-->
<html>
<head>
    <title>Olympic Vis</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/d3.v4.js" charset="utf-8"></script>
    <script src="js/MainCtrl.js"></script>
    <script src="js/athletesView.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/global.css">
    <link rel="stylesheet" type="text/css" href="CSS/athletes_view_style.css">
</head>

<body ng-app="myApp" ng-controller="MainCtrl">
    <form>
        <label>
            <input type="radio"
                   id="athlete"
                   name="scope"
                   value="0" ng-model="olympic.scope">
            Athlete
        </label>
        <label>
            <input type="radio"
                   id="country"
                   name="scope"
                   value="1" ng-model="olympic.scope">
            Country
        </label>

        <label>
            <input type="radio"
                   id="gold"
                   name="rank"
                   value="0" ng-model="olympic.rank">
            Rank by Gold
        </label>
        <label>
            <input type="radio"
                   id="medal"
                   name="rank"
                   value="1" ng-model="olympic.rank">
            Rank by Medal
        </label>
    </form>
    <!-- motion view -->
    <div style="float:left;width:100%;height:99%;overflow:auto;margin:2px">
        <athletes-view style="float:left;overflow:auto" data="olympic"></athletes-view>
    </div>

</body>
</html>


